{{{html}}}

<div class="gh-cta-gradient"></div>

<section class="gh-cta">
    {{#has visibility="paid"}}
        <h4 class="gh-cta-title">Dieser Post ist nur für zahlende Member</h4>
    {{/has}}
    {{#has visibility="members"}}
        <h4 class="gh-cta-title">Dieser Post ist nur für Subscriber</h4>
    {{/has}}
    {{#has visibility="filter"}}
        <h4 class="gh-cta-title">Dieser Post ist nur für {{tiers}} Subscriber</h4>
    {{/has}}

    <div class="gh-cta-actions">
        {{#if @member}}
            <button class="gh-btn gh-primary-btn" href="#/portal/account/plans" data-portal="account/plans">Jetzt upgraden</button>
        {{else}}
            <button class="gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Jetzt subscriben</button>
            <span class="gh-cta-link" href="#/portal/signin" data-portal="signin">Schon Member? Anmelden.</span>
        {{/if}}
    </div>
</section>